$accent-main: #ff2641;
$accent-secondary: #eacc1c;
$accent-gradient-1: #874da2;
$accent-gradient-2: #c43a30;
$light: rgb(136, 153, 166);
$dark: #292f33;
$desktop: "1060px";
$tablet: "768px";
$mobile: "480px";
